
<div class = "row">
<div class="col-sm-12 ">
<h1 class ="animated fadeIn"> {{name}} </h1>
<br>
<br>
<br>
<div  id="companyhero"class = "jumbotron"style="background-color:white">
    <!--<h1 class="companyname animated fadeIn" style="font-family: 'Lora', serif; "> {{name}} </h1>-->
    <h1 class="companyname animated fadeIn" style="font-family: 'Lora', serif; "> {{name}} </h1>
        <a class = "btn btn-default animated fadeIn" [routerLink]="['/login']">Employee Login</a>
       <!-- <a *ngIf="authservice.loggedIn()" class = "btn btn-default animated fadeIn" [routerLink]="['/register']">Register</a>
    -->
</div>

</div>




<br><br>
<br><br>
<!--
    <div class = "col-sm-4 animated fadeIn " style="text-align:center">
        <h3>Quality</h3>
        <div class="missionstatement">
     <p>asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
            </p>        </div>
    </div>
    <div class = "col-sm-4 animated fadeIn" style="text-align:center">
        <h3>Integrity</h3>
                <div class="missionstatement">
            <p>asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
            </p>
        </div>
    </div>
    <div class = "col-sm-4 animated fadeIn" style="text-align:center">
        <h3>Efficiency</h3>
                <div class="missionstatement">
     <p>asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
            </p>        </div>-->
    </div>


