
<div class = "row">
<div class="col-sm-12 ">
<h1 class ="animated fadeIn"> {{name}} </h1>
<br>
<br>
<br>
<div  id="companyhero"class = "jumbotron"style="background-color:white">
    <!--<h1 class="companyname animated fadeIn" style="font-family: 'Lora', serif; "> {{name}} </h1>-->
    
    <h1 class="companyname animated fadeIn" style="font-family: 'Lora', serif; "> {{name}} </h1>
       

        <a class = "btn btn-default animated fadeIn" [routerLink]="['/login']">Employee Login</a>
        <br>
        <br>
        <i *ngIf= "weatherNow == '02n' || weatherNow == '03n' " class="wi wi-day-sunny-overcast" style="font-size:40px; display:block;"></i>

        <i *ngIf= "weatherNow == '02n' || weatherNow == '03n' " class="wi wi-night-partly-cloudy" style="font-size:40px; display:block;"></i>
        <i *ngIf= "weatherNow == '04n'" class="wi wi-night-alt-cloudy" style="font-size:40px; display:block;"></i>
        <i *ngIf= "weatherNow == '04n'" class="wi wi-day-cloudy" style="font-size:40px; display:block;"></i>

        <i *ngIf= "weatherNow == '01n'" class="wi wi-night-clear" style="font-size:40px; display:block;"></i>
        <i *ngIf= "weatherNow == '01d'" class="wi wi-day-sunny" style="font-size:40px; display:block;"></i>
        <i *ngIf= "weatherNow == '13d'" class="wi wi-snow" style="font-size:40px; display:block;"></i>
        <i *ngIf= "weatherNow == '10d'" class="wi wi-rain" style="font-size:40px; display:block;"></i>
        <i *ngIf= "weatherNow == '09d'" class="wi wi-rain-wind" style="font-size:40px; display:block;"></i>
        <i *ngIf= "weatherNow == '11d'" class="wi wi-storm-showers" style="font-size:40px; display:block;"></i>
    <p style ="font-family: 'Open Sans Condensed', sans-serif; font-size:40px;">{{temperatureNow}}</p>




        
<!-- <a *ngIf="authservice.loggedIn()" class = "btn btn-default animated fadeIn" [routerLink]="['/register']">Register</a>
    -->
</div>

       
</div>




<br><br>
<br><br>
<!--
    <div class = "col-sm-4 animated fadeIn " style="text-align:center">
        <h3>Quality</h3>
        <div class="missionstatement">
     <p>asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
            </p>        </div>
    </div>
    <div class = "col-sm-4 animated fadeIn" style="text-align:center">
        <h3>Integrity</h3>
                <div class="missionstatement">
            <p>asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
            </p>
        </div>
    </div>
    <div class = "col-sm-4 animated fadeIn" style="text-align:center">
        <h3>Efficiency</h3>
                <div class="missionstatement">
     <p>asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
                asdfasdfasdfasdfasdfaf
            </p>        </div>-->
    </div>


