<div class= "container">
  <div class ="row">
        <br>
    <br>
    <br>
    <div class="col-sm-12" style="text-align:center"*ngFor="let subcontractor of subcontractorArray">
      <form class=" animated fadeIn"(submit)="submitEdit();">
      <a href = "/edit/subcontractor/{{subcontractor.name}}"><h1>{{subcontractor.name}}</h1></a>
      <div *ngFor="let address of subcontractor.storeaddress">
      <h2>{{address}}</h2>
      </div>
      <div class = "col-sm-12">
       <p> Created at:{{subcontractor.created_at |slice:1:10}}</p>
       <!--<input type ="text" class ="form-control" placeholder = "{{subcontractor.created_at|slice:1:10}}">-->

       <p> Contact: {{subcontractor.contactname}}</p>
        <!--<input type ="text" class ="form-control" name = "contactname"[(ngModel)]= "contactname" placeholder = "{{subcontractor.contactname}}">-->

       <p> Contact Phone: {{subcontractor.contactphone}}</p>
         <!--     <input type ="text" class ="form-control"name = "contactphone" [(ngModel)] = "contactphone" placeholder = "{{subcontractor.contactphone}}">-->

       <p> Email: {{subcontractor.emailaddress}}</p>
          <!--     <input type ="text" class ="form-control" name = "emailaddress" [(ngModel)]="emailaddress"placeholder = "{{subcontractor.emailaddress}}">-->

      </div>
      <div class = "col-sm-6">
      </div>
      <!--<input type="submit" class = "btn btn-primary" value="submit">-->
      </form>
    </div>
    
  </div>
</div>
