<div id="margin">

    <div class="pimg1">


        <div class="ptext animated fadeIn">
            <span class="border trans">
                <p id="title"> SERVICES</p>
                </span>
        </div>

    </div>
    <section class="section section-dark">

        <h2 style="text-decoration:underline;"> Janitorial Services </h2>
            <p>Rose Building Maintenance offers a complete range of janitorial and commercial cleaning services. Services provided
                may vary according to each client’s specific needs. Additionally, custom service outside the scope of work
                can be arranged.</p>
           <ul> 
        <li>Day and Night services, 7 days a week, 365 days a year, including holidays</li>
        <li>Floor care and maintenance for all types of hard surface floors</li>
        <li>Deep scrubbing, stripping, sealing and waxing floors</li>
        <li>High dusting</li>
        <li>Window cleaning</li>
        <li>Carpet steam cleaning and hot water extraction</li>
        <li>Day Porter service</li>
        <li>Graffiti removal</li>
        <li>Restroom sanitizing</li>
        <li>Trash and recyclable removal</li>
        <li>And much more. Just ask!</li>
           </ul>







    </section>

    <div class="pimg3">
        <!--<div class = "ptext">
                <span class = "border trans">
                   <a style="color:white;" href="http://fathomless-caverns-94991.herokuapp.com/"> House Of Jewels MEAN Shop</a>
                </span>
            </div>-->
    </div>
    <section class="section section-dark">

        <h2 style="text-decoration:underline;"> Retail Cleaning </h2>
        <p>Rose Building Maintenance Ltd. is well experienced with cleaning indoor shopping malls, stand-alone retail locations,
            and national grocers. Our professional staff is able to look after floor maintenance, restroom sanitizing, food
            production areas, and office & break room cleaning. Programs can be tailored to suit the individual client’s
            exact needs. Additionally, specialty services, outside of the regular scope of work, can be provided.</p>
        <p style="font-style:italic;">Retail Cleaning May Include:</p>
        <ul>
            <li>Removal of debris from planters and landscape pots</li>
            <li>Sweeping and cleaning entrances.</li>
            <li>Keeping entry door glass clean and free of smudges</li>
            <li>Dusting and cleaning of baseboards, sills, and ledges</li>
            <li>Cleaning and sanitizing of water fountains</li>
            <li>Spot cleaning and vacuuming of carpets</li>
            <li>Sweeping, dusting, moping, and damp moping hard surface floors</li>
            <li>Complete floor care, incuding stripping, sealing, waxing, and buffing</li>
            <li>Restroom cleaning and sanitizing</li>
            <li>Ensuring facilities are secure upon completion of work</li>
        </ul>



        <a style="text-decoration:none;  color:#666;" href="https://github.com/ohrha/ROSE"> 
</a>
    </section>

    <div class="pimg3">
        <!--<div class = "ptext">
                <span class = "border trans">
                   <a style="color:white;" href="http://fathomless-caverns-94991.herokuapp.com/"> House Of Jewels MEAN Shop</a>
                </span>
            </div>-->
    </div>
    <section class="section section-dark">

        <h2 style="text-decoration:underline;"> Commercial / Office Cleaning </h2>
        <p>Our well trained, professional, and devoted staff is able to maintain building lobbies, entrances, reception areas,
            restrooms, employee break rooms, conference rooms, training rooms, and office areas. For your peace of mind,
            our staff is sensitive to building access and security procedures. Programs can be tailored to suit the individual
            client’s exact needs. Additionally, specialty services, outside of the regular scope of work, can be provided.</p>
        <p style="font-style:italic;">Office Cleaning May Include:</p>
        <ul>
            <li>Emptying of waste baskets.</li>
            <li>Removal of recyclables.</li>
            <li>Dusting of furniture, cabinets, windowsills, and other horizonal surfaces.</li>
            <li>Detailing of corners and other hard to reach places.</li>
            <li>Cleaning of mirrors and partition glass.</li>
            <li>Keeping walls and switch plates free of smudges and spills.</li>
            <li>Cleaning and vacuuming of upholstery.</li>
            <li>Spot cleaning of carpets.</li>
            <li>Proper positioning of furniture and displays.</li>
            <li>Restroom cleaning and sanitizing.</li>
        </ul>

        <a style="text-decoration:none;  color:#666;" href="https://github.com/ohrha/ROSE"> 
</a>
    </section>
    <div class="pimg3">
        <!--<div class = "ptext">
                <span class = "border trans">
                   <a style="color:white;" href="http://fathomless-caverns-94991.herokuapp.com/"> House Of Jewels MEAN Shop</a>
                </span>
            </div>-->
    </div>
    <section class="section section-dark">

        <h2 style="text-decoration:underline;"> Fitness Facility Cleaning </h2>
        <p>Rose Building Maintenance understands the specific needs and standards associated with keeping a fitness facility
            clean. Our professional staff has the experience and resources to provide a high level of detail cleaning and
            sanitizing throughout common areas, lounges, and fitness rooms. Our product knowledge allows us to ensure that
            mold and bacteria never get a chance to take hold in damp or wet areas, such as showers and change rooms.</p>
        <p style="font-style:italic;">Fitniss Facility Cleaning May Include:</p>
        <ul>
            <li>Day or Evening porter services.</li>
            <li>Care of sanitizing stations.</li>
            <li>Hard Floor surface care.</li>
            <li>Detailing corners and other hard to reach places.</li>
            <li>Vacuum all carpeted areas.</li>
            <li>Dusting of lounge and reception areas.</li>
            <li>Restroom cleaning and sanitizing.</li>
            <li>Change-room cleaning and sanitizing, including showers.</li>
            <li>Cleaing and sanitizing of water fountains.</li>
        </ul>


    </section>
    <div class="pimg3">
        <!--<div class = "ptext">
                <span class = "border trans">
                   <a style="color:white;" href="http://fathomless-caverns-94991.herokuapp.com/"> House Of Jewels MEAN Shop</a>
                </span>
            </div>-->
    </div>
    <section class="section section-dark">

        <h2 style="text-decoration:underline;"> Floor Care </h2>
        <p>Rose Building Maintenance has earned a solid reputation for its ability to bring tired looking floors back to life.
            With a dedicated floor care crew, we can provide hard surface floor care either as a scheduled or on-demand service,
            even under tight timelines. </p>
        <p style="font-style:italic;">We can refinish and maintain:</p>
        <ul>
            <li>VC tile.</li>
            <li>Marmoleum.</li>
            <li>Linoleum.</li>
            <li>Ceramic tile.</li>
            <li>Terazzo.</li>
            <li>Concrete.</li>
            <li>And much more!...</li>

        </ul>


  
    </section>



    <div class="pimg3">

    </div>
    <section class="section section-dark">

        <h2 style="text-decoration:underline;"> Floor Care </h2>
        <p>As a complement to our regular scope of services, Rose Building Maintenance can offer a number of on-demand, specialty
            services. By doing so, we are able to minimize the costs that may be associated with having multiple service
            providers. </p>
        <p style="font-style:italic;">Specialty services may include:</p>
        <ul>
            <li>Day Porter services.</li>
            <li>Carpet shampooing and hot water extraction.</li>
            <li>Provision of soft goods, including paper towels, toilet paper, and soaps/sanitizers.</li>
            <li>High dusting.</li>
            <li>Ground level window cleaning.</li>
            <li>Wall washing.</li>
            <li>Construction cleanup.</li>

        </ul>

    </section>
    <!-- <section class = "section section-dark">

            <h2> Reduce costs and increase revenue
</h2>
            <p> Chanka Blanko</p>
        </section>-->
    <div class="pimg1">
        <div class="ptext">
            <span class="border trans">
                    
                </span>
        </div>
    </div>


</div>