<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="moveitemleft" *ngIf="largeRoseLogo  && !largestRoseLogo && !smallestRoseLogo" [routerLink]="['/']"><img style="position:fixed;"*ngIf="largeRoseLogo && !largestRoseLogo && !smallestRoseLogo"  src="../assets/img/roselogosmallerhalf.png"></a>
      <a id="moveitemleft" *ngIf="smallestRoseLogo" [routerLink]="['/']"><img style="position:fixed;"*ngIf="smallestRoseLogo" src="../assets/img/roselogosmallest.png"></a>

      <a (click)="closeDropdown()" id="moveitemleft" *ngIf="largestRoseLogo && !smallestRoseLogo" [routerLink]="['/']"><img style="position:fixed;"*ngIf="largestRoseLogo && !smallestRoseLogo" src="../assets/img/roselogosmaller.png"></a>
      <a id="moveitemleft" [routerLink]="['/']" class="navbar-brand">ROSE</a>
      <button type="button" (click)="loadLargeRoseLogo()" id="navbar-toggle" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse movemenuright" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">

        <li *ngIf="authservice.loggedIn()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

            <li><a href="#"></a></li>
            <li class="divider"></li>
            <!--(click)="closeNavbar()" -->
            <li class="animated fadeIn"><a (click)="closeNavbar()" [routerLink]="['/clients']">Client List</a></li>
            <li class="animated fadeIn"><a (click)="closeNavbar()" [routerLink]="['register', 'newclient']">Add Client</a></li>
            <li class="animated fadeIn"><a (click)="closeNavbar()" [routerLink]="['/edit']">Edit Client</a></li>
            <li class="animated fadeIn"><a (click)="closeNavbar()" [routerLink]="['/remove']">Remove Client</a></li>
          </ul>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <div [ngClass]="{'weatherinfo2': weatherInfo, 'weatherinfo3hidden':weatherInfo3Hidden && !weatherInfoHidden,'weatherinfo':weatherInfoHidden && !weatherInfo3Hidden,'weatherinfo3':weatherInfo2}">
          <br>
          <br>
          <br>
         

          <div class="text-center" [ngClass]="{'weatherinfo2': weatherInfo, 'weatherinfo3hidden':weatherInfo3Hidden && !weatherInfoHidden,'weatherinfo':weatherInfoHidden && !weatherInfo3Hidden,'weatherinfoparagraph':weatherInfo2}" style="position:absolute; border:1px solid #ddd; width:100px; text-align:center;">

            <p style="color:white; font-family: 'Lora', serif;">DESCRIPTION</p>
            
            <p [ngClass]="{'weatherinfoparagraphhidden':weatherInfo3Hidden && !weatherInfoHidden, 'weatherinfoparagraph':weatherInfo2}"
              style="color:white; font-family: 'Lora', serif;">{{weatherDescription}}</p>
          </div>
        </div>
        <li *ngIf="weatherNow == '02d' || weatherNow == '03d' "><a style="font-size:18px;" href="#"><i  class="wi wi-day-sunny-overcast" style="font-size:18px; color:white; "></i>{{temperatureNow}}</a></li>

        <li *ngIf="weatherNow == '02n' || weatherNow == '03n' " (click)="openWeatherInfo()"><a style="font-size:18px;" href="#">  <i  class="wi wi-night-partly-cloudy" style="font-size:18px;color:white; "></i>{{temperatureNow}}<div  [ngClass]="{ 'divunderlineopen': divUnderlineOpen,'divunderlineclosed': !divUnderlineOpen}" style="border:1px solid white"></div></a></li>
        <li *ngIf="weatherNow == '04n'" (click)="openWeatherInfo()"><a style="font-size:18px;" href="#">  <i  class="wi wi-night-alt-cloudy" style="font-size:18px;color:white; "></i>{{temperatureNow}}</a>
          <div
            [ngClass]="{ 'divunderlineopen': divUnderlineOpen}">
            <p>ok</p>
    </div>
    </li>
    <li *ngIf="weatherNow == '04d'"><a style="font-size:18px;" href="#">  <i  class="wi wi-day-cloudy" style="font-size:18px;color:white; "></i>{{temperatureNow}}</a></li>

    <li *ngIf="weatherNow == '01n'" (click)="openWeatherInfo()"><a style="font-size:18px;" href="#"> <i  class="wi wi-night-clear" style="font-size:18px;color:white; "></i>{{temperatureNow}}</a></li>
    <li *ngIf="weatherNow == '01d'"><a style="font-size:18px;" href="#">  <i  class="wi wi-day-sunny" style="font-size:18px; color:white;"></i>{{temperatureNow}}</a></li>
    <li *ngIf="weatherNow == '13d'"><a style="font-size:18px;" href="#">  <i  class="wi wi-snow" style="font-size:18px;color:white; "></i>{{temperatureNow}}</a></li>
    <li *ngIf="weatherNow == '10d'"><a style="font-size:18px;" href="#">  <i class="wi wi-rain" style="font-size:18px;color:white; "></i>{{temperatureNow}}</a></li>
    <li *ngIf="weatherNow == '10n'" (click)="openWeatherInfo()"><a style="font-size:18px;" href="#">  <i class="wi wi-rain" style="font-size:18px;color:white; "></i>{{temperatureNow}}<div  [ngClass]="{'divunderlineclosed':weatherInfo3Hidden && !weatherInfoHidden, 'divunderlineopen': divUnderlineOpen}" ></div></a></li>
    <!--style="width:240px; border: 1px solid white;"<div [ngClass]="{'divunderlineclosed':weatherInfo3Hidden && !weatherInfoHidden, 'divunderlineopen':weatherInfo2}" >.</div>-->

    <li *ngIf="weatherNow == '09d'"><a style="font-size:18px;" href="#">  <i  class="wi wi-rain-wind" style="font-size:18px; color:white;"></i>{{temperatureNow}}</a></li>
    <li *ngIf="weatherNow == '09n'" (click)="openWeatherInfo()"><a style="font-size:18px;" href="#">  <i  class="wi wi-rain-wind" style="font-size:18px; color:white;"></i>{{temperatureNow}}</a></li>

    <li *ngIf="weatherNow == '11d'" (click)="openWeatherInfo()"><a style="font-size:18px;" href="#">  <i class="wi wi-storm-showers" style="font-size:18px;color:white;"></i>{{temperatureNow}}</a></li>

    <li (click)="closeDropdown()" *ngIf="authservice.loggedIn()" class="animated fadeIn"><a style="color:white;" href="#">Welcome, {{username}}.</a></li>
    <li (click)="closeDropdown()" *ngIf="!authservice.loggedIn()" [routerLinkActive]="['active']" class="animated fadeIn"><a [routerLink]="['/login']">Employee Login</a></li>
    <li (click)="closeDropdown()"><a *ngIf="authservice.loggedIn()" [routerLink]="['/register']" class="animated fadeIn">Employee Register</a></li>
    <li (click)="closeDropdown()" *ngIf="authservice.loggedIn()" [routerLinkActive]="['active']" class="animated fadeIn"><a href="#" (click)="onLogoutClick();">Logout</a></li>

    <li>
      <a [ngClass]="{'divunderlineclosed':divUnderlineOpen}">
        <p>---</p>
      </a>
    </li>
    </ul>

  </div>
  </div>
</nav>