<div class="container">
  <div class= "row">
  <div class="col-sm-12" style="text-align:center">
    <h3>{{location}}</h3>
    <!--<div *ngFor="let location of locationObject; let i = index">
    <p>{{location.Bravo}}</p>
    
    </div>-->
  </div>
  <div class="col-sm-12" style="text-align:center">

    <h3>Name:</h3>
    <p>{{subcontractorObject.subcontractor.name}}</p>
    <h3>Contact Name:</h3>
    <p>{{subcontractorObject.subcontractor.contactname}}</p>
    <h3>Contact Phone:</h3>
    <p>{{subcontractorObject.subcontractor.contactphone}}</p>
    <h3>E-mail:</h3>
    <p>{{subcontractorObject.subcontractor.emailaddress}}</p>
    <h3 >Contract Amount:</h3>
    <p *ngFor = "let contract of subcontractorObject.subcontractor.contractamount">{{contract}}</p>
    <h3>Store Number:</h3>
    <p *ngFor = "let store of subcontractorObject.subcontractor.storenumber">{{store}}</p>
    <!--<div *ngFor = "let sub of subcontractor">
      
    </div>-->

  </div>
      <div class ="col-sm-12" style="text-align:center">
      
      <canvas  baseChart
      [chartType]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartClick)="onChartClick($event)"></canvas>
    </div>
   

  </div>

</div>