a{
  text-decoration:none;
  color:black;
}

.subcontractor{
font-family: 'Open Sans Condensed', sans-serif;
  opacity:.4;
  transition:1s
  /* height:0px;
 overflow-y:hidden;*/

}
.subcontractor:active{

opacity:1;
transition:1s;

}
.subcontractor:hover{

  opacity:1;
  transition:1s;

}
.buildingstyling{

}
/*
.buildingboxshadow{
  box-shadow: 2px 2px 2px black;
}*/
.locations{
 /* position:absolute;
  display:block;
  top:-100px;
  text-align:center;
  */
  font-family: 'Open Sans Condensed', sans-serif;

  opacity:0;
  transition:1s;

}
.locations:hover{

opacity:0;

}

.clientname{
  border:none;
  position:relative;
  overflow-y:scroll;
  height:270px;
  right:-30px;
}
.clientnameheader{
  font-family:'Anton';
  text-decoration:underline;
}
/*
.clientname:hover .subcontractor{
  
  /*height:50px;*/
 /* opacity:1;
  transition:1s;
}*/

.clientname:hover .locations{

  opacity:1;
  transition:1s;
}
.imgbox{
  box-shadow: 2px 2px 6px black;
}

.divwell{
  border-top: 1px solid #ddd;
  overflow:hidden;

}
.divwellright{
/* border-right: 1px solid #ddd;*/
  
}