<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-sm-12 text-center" *ngFor="let client of clientsArray; let i=index;">

    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <!-- <h4>{{client.name}}</h4>-->
      <br>
      <button (click)="openEditFormFunc(i);" class="btn btn-primary">Edit {{client.name}}</button>

      <ul class="nav nav-tabs animated fadeIn" *ngIf="indexVar == i&& openEditForm">
        <br>
        <li class="active"><a href="#name" data-toggle="tab" aria-expanded="false">Name</a></li>

        <li class=""><a href="#phonenumber" data-toggle="tab" aria-expanded="false">Phone</a></li>

        <li class=""><a href="#emailaddress" data-toggle="tab" aria-expanded="false">Email</a></li>
        <li class=""><a href="#contactname" data-toggle="tab" aria-expanded="false">Contact Name</a></li>
        <li class=""><a href="#contactphone" data-toggle="tab" aria-expanded="true">Contact Phone</a></li>
        <li class=""><a href="#contactemail" data-toggle="tab" aria-expanded="false">Contact Email</a></li>



      </ul>
      <div style="border-bottom:1px dashed gray" id="myTabContent" class="tab-content animated fadeIn" *ngIf="indexVar == i && openEditForm">

        <div class="tab-pane fade active in" id="name">
          <h4>Name:</h4>
          <input class="form-control" placeholder="{{client.name}}" name='clientName' [(ngModel)]='clientName' type="text">
          <button (click)="editClientFunc(client.name);" class="btn btn-default form-control">edit</button>

        </div>

        <div class="tab-pane fade" id="phonenumber">
          <h4>Phone Number:</h4>
          <input class="form-control" placeholder="{{client.phonenumber}}" name='clientPhoneNumber' [(ngModel)]='clientPhoneNumber'
            type="text">
          <button (click)="editClientFunc(client.name);" class="btn btn-default form-control">edit</button>

        </div>
        <div class="tab-pane fade" id="emailaddress">
          <h4>Email:</h4>
          <input class="form-control" placeholder="{{client.phonenumber}}" name='clientPhoneNumber' [(ngModel)]='clientPhoneNumber'
            type="text">
          <button (click)="editClientFunc(client.name);" class="btn btn-default form-control">edit</button>

        </div>
        <div class="tab-pane fade" id="contactname">
          <h4>Contact Name:</h4>
          <input class="form-control" placeholder="{{client.phonenumber}}" name='clientPhoneNumber' [(ngModel)]='clientPhoneNumber'
            type="text">
          <button (click)="editClientFunc(client.name);" class="btn btn-default form-control">edit</button>

        </div>
        <div class="tab-pane fade" id="contactphone">
          <h4>Contact Phone:</h4>
          <input class="form-control" placeholder="{{client.phonenumber}}" name='clientPhoneNumber' [(ngModel)]='clientPhoneNumber'
            type="text">
          <button (click)="editClientFunc(client.name);" class="btn btn-default form-control">edit</button>

        </div>
        <div class="tab-pane fade" id="contactemail">
          <h4>Contact Email:</h4>
          <input class="form-control" placeholder="{{client.phonenumber}}" name='clientPhoneNumber' [(ngModel)]='clientPhoneNumber'
            type="text">
          <button (click)="editClientFunc(client.name);" class="btn btn-default form-control">edit</button>

        </div>
        <br>

        <button class="btn btn-primary" (click)="openEditSubcontractorsFunc(i);">Edit Subcontractor</button>
        <button class="btn btn-primary" (click)="openAddSubcontractorsFunc(i);">Add Subcontractor</button>
        <br>
        <div>
        </div>

      </div>
      <div *ngFor="let subcontractor of subcontractorsArray[i]; let z = index;">
        <ul class="nav nav-tabs animated fadeIn" *ngIf="editSubContractorIndexVar == i &&indexVar == i && openEditSubcontractors ">

          <br>
          <li class="active"><a href="#{{subcontractor[z]}}" data-toggle="tab" aria-expanded="false">Name</a></li>

          <li class=""><a href="#{{subcontractor[z]+1}}" data-toggle="tab" aria-expanded="false">Phone</a></li>

          <li class=""><a href="#{{subcontractor[z]+2}}" data-toggle="tab" aria-expanded="false">Email</a></li>
          <li class=""><a href="#{{subcontractor[z]+3}}" data-toggle="tab" aria-expanded="false">Contact Name</a></li>
          <li class=""><a href="#{{subcontractor[z]+4}}" data-toggle="tab" aria-expanded="true">Contact Phone</a></li>
          <li class=""><a href="#{{subcontractor[z]+5}}" data-toggle="tab" aria-expanded="false">Contact Email</a></li>
          <li class=""><a href="#{{subcontractor[z]+6}}" data-toggle="tab" aria-expanded="false">Locations</a></li>
          <li class=""><a href="#{{subcontractor[z]+7}}" data-toggle="tab" aria-expanded="false">Store Numbers</a></li>




        </ul>
        <div id="myTabContent" style="border-bottom:1px solid gray" class="tab-content animated fadeIn" *ngIf=" editSubContractorIndexVar == i&&indexVar == i && openEditSubcontractors && openEditForm">

          <div class="tab-pane fade active in" id="{{subcontractor[z]}}">
            <h4>{{subcontractor.name}}:</h4>
            <input class="form-control" placeholder="{{subcontractor.name}}" name='subContractorName' [(ngModel)]='subContractorName'
              type="text">
            <button (click)="editSubContractorFunc(client.name,subcontractor.name,z);" class="btn btn-default form-control">edit</button>

          </div>

          <div class="tab-pane fade" id="{{subcontractor[z]+1}}">
            <h4>Sub Contractor Phone Number:</h4>
            <input class="form-control" placeholder="{{subcontractor.phonenumber}}" name='subContractorPhoneNumber' [(ngModel)]='subContractorPhoneNumber'
              type="text">
            <button (click)="editSubContractorFunc(client.name,subcontractor.phonenumber,z);" class="btn btn-default form-control">edit</button>

          </div>
          <div class="tab-pane fade" id="{{subcontractor[z]+2}}">
            <h4>Sub Contractor Email:</h4>
         
            <input class="form-control" placeholder="{{subcontractor.emailaddress}}" name='subContractorEmailAddress' [(ngModel)]='subContractorEmailAddress'
              type="text">
            <button (click)="editSubContractorFunc(client.name,subcontractor.emailaddress,z);" class="btn btn-default form-control">edit</button>

          </div>
          <div class="tab-pane fade" id="{{subcontractor[z]+3}}">
            <h4>Sub Contractor Contact Name:</h4>
            <input class="form-control" placeholder="{{subcontractor.contactname}}" name='subContractorContactName' [(ngModel)]='subContractorContactName'
              type="text">
            <button (click)="editSubContractorFunc(client.name,subcontractor.contactname,z);" class="btn btn-default form-control">edit</button>

          </div>
          <div class="tab-pane fade" id="{{subcontractor[z]+4}}">
            <h4>Sub Contractor Contact Phone:</h4>
            <input class="form-control" placeholder="{{subcontractor.contactphone}}" name='subContractorContactPhone' [(ngModel)]='subContractorContactPhone'
              type="text">
            <button (click)="editSubContractorFunc(client.name,subcontractor.contactphone,z);" class="btn btn-default form-control">edit</button>

          </div>
          <div class="tab-pane fade" id="{{subcontractor[z]+5}}">
            <h4>Sub Contractor Contact Email:</h4>
            <input class="form-control" placeholder="{{subcontractor.contactemail}}" name='subContractorContactEmail' [(ngModel)]='subContractorContactEmail'
              type="text">
            <button (click)="editSubContractorFunc(client.name,subcontractor.contactemail,z);" class="btn btn-default form-control">edit</button>

          </div>
          <div class="tab-pane fade" id="{{subcontractor[z]+6}}">

            <div class="panel panel-default">
              <div class="panel panel-heading">
                <label>Locations(SC)</label>
              </div>
              <div class="panel-body">
                <input type="text" placeholder="(Please Enter Subcontractor Locations...)" [(ngModel)]="subcontractorLocation" placeholder="{{subcontractorLocations}}"
                  name="subcontractorLocation" class="form-control">

                <button class="btn btn-default " (click)="addLocationToSubcontractorFunc(); $event.preventDefault();">Insert    <i class="fa fa-plus-circle buttonstyling" aria-hidden="true"></i></button>
                <button class="btn btn-default" (click)="removeLocationFromSubcontractorFunc(); $event.preventDefault();">Remove  <i class="fa fa-minus-circle buttonstyling" aria-hidden="true"></i></button>
              </div>

              <div class="placeholderdivsmallwell" *ngIf="!addSubcontractorLocationsConditionsNotMet">
              </div>
              <div class="placeholderdivsmallwell" *ngIf="!addSubcontractorLocationConditionsMet">
              </div>
              <div class="well well-sm" *ngIf="addSubcontractorLocationConditionsMet">
                <p><strong> {{addSubcontractorLocationConditionsMetMsg}}</strong></p>

              </div>
              <div class="well well-sm" *ngIf="addSubcontractorLocationsConditionsNotMet">

                <p><strong>{{addSubcontractorLocationsConditionsNotMetMsg}}</strong></p>
              </div>

            </div>

          </div>
          <div class="tab-pane fade" id="{{subcontractor[z]+7}}">
            <div class="panel panel-default">
              <div class="panel panel-heading">

                <label>Store Numbers(SC)</label>
              </div>
              <div class="panel-body">
                <input type="text" placeholder="(Please Enter Subcontractor Store Numbers...)" [(ngModel)]="subcontractorStoreNumber" placeholder="{{subcontractor.storenumbers}}"
                  name="subcontractorStoreNumber" class="form-control">

                <button class="btn btn-default" (click)="addStoreNumberToSubcontractorFunc(client.name,z,subcontractor.storenumbers); $event.preventDefault();">Insert    <i class="fa fa-plus-circle buttonstyling" aria-hidden="true" ></i></button>
                <button class="btn btn-default" (click)="removeStoreNumberFromSubcontractorFunc(client.name,z,subcontractor.storenumbers); $event.preventDefault();">Remove  <i class="fa fa-minus-circle buttonstyling" aria-hidden="true" ></i></button>
                <div class="placeholderdivsmallwell" *ngIf="!addSubcontractorStoreNumbersConditionsNotMet">
                </div>
                <div class="placeholderdivsmallwell" *ngIf="!addSubcontractorStoreNumberConditionsMet">
                </div>
                <div class="well well-sm" *ngIf="addSubcontractorStoreNumberConditionsMet">
                  <p><strong> {{addSubcontractorStoreNumberConditionsMetMsg}}</strong></p>

                </div>
                <div class="well well-sm" *ngIf="addSubcontractorStoreNumbersConditionsNotMet">

                  <p><strong>{{addSubcontractorStoreNumbersConditionsNotMetMsg}}</strong></p>
                </div>
              </div>
            </div>
            <br>
          </div>
          <!-- <button class="btn btn-primary" (click)="openEditSubcontractorsFunc(i);">Edit Subcontractor</button>
                <button class="btn btn-primary" (click)="openAddSubcontractorsFunc(i);">Add Subcontractor</button>
         -->
          <br>
          <br>
        </div>
      </div>



    </div>
    <div class="col-sm-3">
    </div>
    <br><br><br>
  </div>
</div>