<div class="container">
  <div class="row">
    <br>
    <br>
    <br>
    <div class="col-sm-12" style="text-align:center">
      <h1>Edit {{location}}</h1>
    </div>
    <div class = "col-sm-3">
    </div>
    <div class="col-sm-6" *ngFor="let subcontractor of currentSubcontractor">

      <form (submit)="updateSubcontractor();">

        <div class="form-group text-center">
          <label>Name</label> {{subcontractor.name}}
          <input type="text" [(ngModel)]="name" placeholder="{{subcontractor[0].name}}" name="name" class="form-control">
          <input (click)="updateName();" value="submit" class="btn btn-primary">
                    <div *ngIf="addNameSuccess">
            {{nameSuccessMsg}}

          </div>
          <div *ngIf="addNameFailed">

            {{nameFailureMsg}}
          </div>
        </div>

        <div class="form-group text-center">
          <label>Contact Name</label>
          <input type="text" [(ngModel)]="contactname" name="contactname" placeholder="{{subcontractor[0].contactname}}" class="form-control">
          <input (click)="updateContactName();" value="submit" class="btn btn-primary">
                    <div *ngIf="addContactNameSuccess">
            {{contactNameSuccessMsg}}

          </div>
          <div *ngIf="addContactNameFailed">

            {{contactNameFailureMsg}}
          </div>

        </div>

        <div class="form-group text-center">
          <label>Contact Phone</label>
          <input type="text" [(ngModel)]="contactphone" name="contactphone" placeholder="{{subcontractor[0].contactphone}}" class="form-control">
          <input (click)="updateContactPhone();" value="submit" class="btn btn-primary">
                    <div *ngIf="addContactPhoneSuccess">
            {{contactPhoneSuccessMsg}}

          </div>
          <div *ngIf="addContactPhoneFailed">

            {{contactPhoneFailureMsg}}
          </div>

        </div>

        <div class="form-group text-center">
          <label>Email Address</label>
          <input type="text" [(ngModel)]="emailaddress" name="emailaddress" placeholder="{{subcontractor[0].emailaddress}}..." class="form-control">
          <input (click)="updateEmailAddress();" value="submit" class="btn btn-primary">
          <div *ngIf="addEmailAddressSuccess">
            {{emailAddressSuccessMsg}}

          </div>
          <div *ngIf="addEmailAddressFailed">

            {{emailAddressFailureMsg}}
          </div>


        </div>
        <!--
        <div class="form-group">
          <label>Contract Amount</label>
          <input type="text" [(ngModel)]="contractamt" name="contractamt" placeholder="{{subcontractor.contractamt}}" class="form-control">
                  <input (click)="updateContractAmount();"value="submit"class = "btn btn-primary">

        </div>-->
        <div class="form-group text-center">

          <label>Store Address(')</label>
          <input type="text" [(ngModel)]="storeaddress" name="storeaddress" placeholder="{{subcontractor[0].storeaddress}}| Press The Plus Button To Add Location Number..."
            class="form-control">
          <!--<button class="btn btn-primary" (click)="addStoreAddress(); $event.preventDefault();" type="button"></button>-->
          <i class="fa fa-plus-circle addicon" style="font-size:20px;" aria-hidden="true" (click)="addStoreAddress(); $event.preventDefault();"></i>
          <i class="fa fa-minus-circle removeicon" style="font-size:20px;" aria-hidden="true" (click)="removeStoreAddress(); $event.preventDefault();"></i>

          <div *ngIf="addStoreAddressSuccess">
            {{storeAddressSuccessMsg}}

          </div>
          <div *ngIf="addStoreAddressFailed">

            {{storeAddressFailureMsg}}
          </div>
                    <div *ngIf="removeStoreAddressFailed">
            {{removeStoreAddressFailedMsg}}
          </div>
          <div class="form-group text-center">

            <label>Store Number(s)</label>
            <input type="text" [(ngModel)]="storenumbers" name="storenumbers" placeholder="{{subcontractor[0].storenumbers}} Please Insert One Location Number At A Time..."
              class="form-control">
            <!--<button class="btn btn-primary" (click)="addStoreAddress(); $event.preventDefault();" type="button"></button>-->
            <i class="fa fa-plus-circle" style="font-size:20px;"aria-hidden="true" (click)="addStoreNumber(); $event.preventDefault();"></i>
            <i class="fa fa-minus-circle"style="font-size:20px;" aria-hidden="true" (click)="removeStoreNumber(); $event.preventDefault();"></i>

            <div *ngIf="addStoreNumberSuccess">
              {{storeNumberSuccessMsg}}

            </div>
            <div *ngIf="addStoreNumberFailed">
              {{storeNumberFailedMsg}}
            </div>
                               <div *ngIf="removeStoreNumberFailed">
            {{removeStoreNumberFailedMsg}}
          </div>
          </div>
        </div>

        <!--<input type="submit" value="submit" class="btn btn-primary">-->
      </form>


    </div>
        <div class = "col-sm-3">
    </div>
  </div>
</div>