<br>
<br>
<br>
<br>
<br>
<div class = "container">
  
<h2 class ="animated fadeIn"> Login</h2>
<form (submit)="onLoginSubmit()" class ="animated fadeIn">

    <div class = "form-group">
    <label>Username</label>
    <input type ="text"[(ngModel)]="username" name="username" class = "form-control">
    <div *ngIf="userNameCannotBeEmpty" class = "well well-sm">
      {{userNameCannotBeEmptyMsg}}
    </div>

  </div>

    <div class = "form-group">
    <label>Password</label>
    <input type ="password" [(ngModel)]="password" name="password"class = "form-control">
    <div *ngIf="passwordCannotBeEmpty" class = "well well-sm">
      {{passwordCannotBeEmptyMsg}}
    </div>
  </div>
  <input type ="submit" class = "btn btn-primary bounce" value="Submit">
</form>

<div *ngIf="successfulLogin" class = "jumbotron text-center pulse animated fadeIn">
  <h3> Registration Successful...</h3>
 
</div>
<div *ngIf="unSuccessfulLogin" class = "jumbotron text-center animated flash">
  <h3>{{unSuccessfulLoginMsg}}</h3>
   <h4> {{errorMessage}}</h4>
</div>
</div>