<div class= "sidebar">
<div id = "logo">

<p style="text-align:center">ROSE</p>

</div>




    <div id = "subcontractorlink">

      <div id ="subcontractorlinkfirst">

  <p style="text-align:center">CLIENTS</p>
  <div  id="subcontractorlinks2" >

    <ul style= "list-style:none;">
      <li><a href = "/register/newclient"><p class= "sidebarlinks" >Add Client</p></a></li>
      <li><a href = "/register/removesubcontractor"><p class= "sidebarlinks">Edit Client</p></a></li>
      <li><a href = "/clients/newsubcontractor"><p class= "sidebarlinks">Remove Invoice</p></a></li>
    </ul>
  </div>
  </div>
 <!--
      <div id = "subcontractorlinksecond">
  <p style="text-align:center">SUBCONTRACTORS</p>
  

 


  <div  id="subcontractorlinks" >

    <ul style= "list-style:none;">
      <li><a href = "/register/newsubcontractor"><p class= "sidebarlinks"style="text-align:center" >Add Subcontractor</p></a></li>
      <li><a href = "/edit/newsubcontractor"><p class= "sidebarlinks"style="text-align:center">Edit Subcontractor</p></a></li>
      <li><a href = "/clients/newsubcontractor"><p class= "sidebarlinks"style="text-align:center">Add Invoice</p></a></li>
    </ul>
  </div>
      </div>
      -->






    </div>