
<div class="container">
  <div class="row">
    <div class ="col-sm-12" style="text-align:center">
      <h2>{{location}}</h2>
     <!-- <canvas  baseChart
      [chartType]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartClick)="onChartClick($event)"></canvas>-->
    </div>
    <div class ="col-sm-2">
      
    </div>
    <div class="col-sm-10" style="text-align:center">
     
      
        <div class="table-responsive">
          <table class="table" *ngFor="let item of inventory">
            <thead>
              <tr>
                <th>product code</th>
                <th>description</th>
                <th>color</th>

                <th>size</th>
                <th>price</th>
                <th>unit</th>
                <th>Requested</th>
              </tr>
            </thead>
            <td>


              <tr >{{item.productcode}}</tr>

            </td>
            <td>

              <tr>{{item.description|slice:0:40 }}</tr>
              <!---->


            </td>
            <td>


              <tr>{{item.color}}</tr>
            </td>
            <td>


              <tr>{{item.size}}</tr>
            </td>
            <td>


              <tr>{{item.price}}</tr>
            </td>
            <td>


              <tr>{{item.unit}}</tr>
            </td>
            <td>
              <tr>
              <i class="fa fa-plus-circle" (click)="increaseInventory(item.instock,item.productcode);" aria-hidden="true"></i>
              {{item.ordered}}
              <i class="fa fa-minus-circle" (click)="decreaseInventory(item.instock,item.productcode);"aria-hidden="true"></i>
              </tr>
            </td>
            <td>
              <tr>
                 <form name="checkoutForm" (submit)="increaseInventory(item.instock,item.productcode);" class="btn-group">
                <div class="btn-group" role="group">
                  
                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                   <!-- <span class = "caret"></span>-->
                    Qty
                </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <li class="dropdown-item" ng-click="changeQty('1');">1</li>
                      <li class="dropdown-item" ng-click="changeQty('2');">2</li>
                      <li class="dropdown-item" ng-click="changeQty('3');">3</li>
                      <li class="dropdown-item" ng-click="changeQty('4');">4</li>
                      <li class="dropdown-item" ng-click="changeQty('5');">5</li>
                      <li class="dropdown-item" ng-click="changeQty('6');">6</li>
                      <li class="dropdown-item" ng-click="changeQty('7');">7</li>
                      <li class="dropdown-item" ng-click="changeQty('8');">8</li>
                      <li class="dropdown-item" ng-click="changeQty('9');">9</li>

                    </ul>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </tr>
            </td>



          </table>




          
    
      </div>
      
    </div>
  </div>
</div>
